# Gecko GPIO configuration options

# Copyright (c) 2017 Christian Taedcke
# Copyright (c) 2025 Jonny Gellhaar
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_GECKO
	bool "Gecko GPIO driver"
	default y
	depends on DT_HAS_SILABS_GECKO_GPIO_PORT_ENABLED
	select SOC_GECKO_GPIO
	help
	  Enable the Gecko gpio driver.

config GPIO_GECKO_COMMON_INIT_PRIORITY
	int "Common initialization priority"
	depends on GPIO_GECKO
	default 39

config GPIO_GECKO_ZERO_LATENCY_IRQ
	bool "Cofigure GPIO as Zephyr zero latency IRQ"
	default n
	depends on GPIO_GECKO
	select ZERO_LATENCY_IRQS
	help
	  Make sure to read documentatino of zero latency IRQ and its
	  implications and potential dangers. Do not call kernel API
	  from the GPIO inerrupt callback.
